*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.navbar{
display: flex;
align-items: center;
justify-content: space-between;
padding: 12px 80px;
background-color: #ECE4B7;
color: rgb(12, 12, 12);
}
.nav-links a{
  color: rgb(20, 20, 20);
}
.menu{
  display: flex;
  gap: 32px;
  font-size: 18px;
}
.menu li{
  padding: 8px 10px;
}
.menu li:hover{
  background-color: #f1c40f3d;
transition: all.3s ease;
}

input[type=checkbox]{
  display: none;
}
.hamburger{
  display: none;
  font-size: 25px;
  user-select: none;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #ECE4B7;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #f1c40f;
    transition: 0.3s ease;
  }


  input[type=checkbox]:checked ~ .menu {
    display: flex;
   
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
}

.logito {
    margin-right: 20px;
    height: 30px;
}

#slogan{
height: 950px;
width: auto;
display:  flex;
justify-content: center;
background-color: black;
text-align: center;
}
#slogan img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
       
     }
     #slogan h2{
        display: block;
        white-space: nowrap;
       
        border-right: 4px solid;
        width: 30ch;
        animation: typing 2s steps(30),
        blink .5s infinite step-end alternate;
        overflow: hidden;
     }


     @keyframes typing{
        from{width: 0;}
     }
     @keyframes blink{
       50%{border-color:transparent ;}
     }
     #slogan p{
      width: 700px;
     }



#beneficios{
    display:  flex;
    background-color:#ECE4B7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1%;
    margin: 10px;
    }
#beneficios dd{
    height: 300px;
   width: 200px;
}
.texto-superpuesto1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Color del texto */
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold;
}

#container h1{
    text-align: center;
}
#ofertas {
    text-align: center;
    background-color: orange;
    padding: 2%; 
    margin: 10px;
    
}
#ofertas img {
    background-color: white; 
    display: inline-block; 
    margin: 1%; 
    height: 400px;
    padding: 1%;
    transition: transform 0.3s ease;
}
#ofertas img:hover {
transform: scale(1.1);
cursor: pointer;
}



#galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    background-color:#ECE4B7;
}
section {
  width: 600px;
  height: 430px;
  display: flex;
  background-color:#ECE4B7;
}

  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
  




#funciones {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: left;
    background-color: orange;
    padding: 1%;
    margin: 10px;
}

#funciones img { 
    align-self: flex-start; 
    margin-right: 20px; 
}

.contenido {
    display: flex;
    flex-direction: column;
}

.contenido h3, .contenido ul {
    margin: 0; 
}
