*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  text-decoration: none;
  text-align: center;
}
body{
  position: relative;
  height: 100vh;
}
nav{
  background-color: #f1c40f3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px 50px;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
  color: white;
}
nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
li{
  width: 70px;
}
li a{
  font-size: 1.1rem;
  cursor: pointer;
  padding: 20px 15px;
  transition: 0.5s;
  color: black;
}
li a:hover{
  color: #f1c40f3d;
  border-bottom: 4px #f1c40f3d solid;
  transition: 0.5s;
}
.hide{
  top: 70px;
}
@media screen and (max-width:750px) {
  .hamburger{
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
  }

  .lines{
    display: block;
    background-color: black;
    height: 2px;
    width: 35px;
  }
  .lines-rotate{
    background-color: rgba(160, 158, 158, 0.233);
    border-radius: 5px;
  }
  nav{
    position: relative;
    padding: 15px 20px;
  }
  ul{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -300px;
    right: 0;
    background-color: #fffffef5;
    padding: 35px 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.363);
  }
  li a{
    color: rgb(0, 0, 0);
  }
  li{
    text-align: center;
    width: 90vw;
  }
  li a:hover{
    font-weight: bold;
    color: rgb(226, 217, 217);
    border: none;
    letter-spacing: 3px;
  }
}

.logito {
    margin-right: 20px;
    height: 30px;
}

#slogan{
height: 950px;
width: auto;
display:  flex;
justify-content: center;
background-color: black;
text-align: center;
}
#slogan img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
       
     }
     #slogan h2{
        display: block;
        white-space: nowrap;
       
        border-right: 4px solid;
        width: 30ch;
        animation: typing 2s steps(30),
        blink .5s infinite step-end alternate;
        overflow: hidden;
     }


     @keyframes typing{
        from{width: 0;}
     }
     @keyframes blink{
       50%{border-color:transparent ;}
     }
     #slogan p{
      width: 700px;
     }



#beneficios{
    display:  flex;
    background-color:#ECE4B7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 1%;
    margin: 10px;
    }
#beneficios dd{
    height: 300px;
   width: 200px;
}
.texto-superpuesto1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 740px) {
         @keyframes typing{
            from{width: 0;}
         }
         @keyframes blink{
           50%{border-color:transparent ;}
         }
         #slogan p{
          width: 400px;
         }
    .texto-superpuesto1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        font-size: 14px; 
        font-weight: bold;
    }

    #beneficios{
      display:  flex;
      background-color:#ECE4B7;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 1%;
      font-size: 12px;
      margin: 10px;
      }
   

}


#container h1{
    text-align: center;
}
#ofertas {
    text-align: center;
    background-color: orange;
    padding: 2%; 
    margin: 10px;
    
}
#ofertas img {
    background-color: white; 
    display: inline-block; 
    margin: 1%; 
    height: 400px;
    padding: 1%;
    transition: transform 0.3s ease;
}
#ofertas img:hover {
transform: scale(1.1);
cursor: pointer;
}



#galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    background-color:#ECE4B7;
}
section {
  width: 600px;
  height: 430px;
  display: flex;
  background-color:#ECE4B7;
}

  section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
  }
  section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
  




#funciones {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: left;
    background-color: orange;
    padding: 1%;
    margin: 10px;
}

#funciones img { 
    align-self: flex-start; 
    margin-right: 20px; 
}

.contenido {
    display: flex;
    flex-direction: column;
}

.contenido h3, .contenido ul {
    margin: 0; 
}
